div.video-js {
    max-width: 100%;
}

.video-js-cliplist {
    list-style-type: none;
    margin-left: 0;
    padding-bottom: 1em;
}

.video-js .vjs-text-track-display {
    background-color: rgba(0,0,0,0.7);
    border-radius: 4px;
}

.video-js .vjs-text-track {
    color: white !important;
    background-color: transparent !important;
    border-radius: 2px;
    font-family: monospace;
    font-size: 1.7em !important;
    line-height: 1.7em;
    padding: 3px;
    text-shadow: 2px 2px 2px black, 2px -2px 2px black, -2px 2px 2px black, -2px -2px 2px black;
}

.videojs_noscript_clip {
    border-color: #aaa;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    margin: 2em auto;
    padding: 1em;
}

.video-js.videojs-withclips {
    display: none;
}

.jsenabled .video-js.videojs-withclips {
    display: block;
}

.videojs-transcript-area {
    border: 1px solid black;
    height: 20em;
    margin-top: 1em;
    overflow-y: scroll;
    position: relative;
}

.videojs-transcript-area table {
    position: relative;
}

.videojs-transcript-area .cell.c0 {
    padding-left: 2em;
}

.jsenabled .filter-videojs-cue {
    cursor: pointer;
}

.filter-videojs-active-cue {
    -moz-box-shadow: 2px 2px 4px gray inset, -2px -2px 4px gray inset;;
    -webkit-box-shadow: 2px 2px 4px gray inset, -2px -2px 4px gray inset;;
    box-shadow: 2px 2px 4px gray inset, -2px -2px 4px gray inset;;
}

.filter-videojs-active-cue .cell.c0 {
    background-image: url([[pix:t/collapsed]]);
    background-repeat: no-repeat;
    background-position: 3px 0.75em;;
}
